body {
  padding-bottom: 70px;
}

.title-with-errors {
  background: #FEE;
}
.title-with-errors .title-link {
  float: left;
  width: 200px;
}

.issue-error-list {
  background: #FEE;
  font-weight: bold;
}

.issue-error-list ul li {
  font-weight: normal;
}

.issue-new {
  font-style: italic;
}

/* Make bootstrap's contrast problems slightly better */
.alert-warning  { color: #3E2100; }
.alert-danger   { color: #4d0200; }
.alert-success  { color: #103210; }
.alert-info     { color: #002443; }
caption         { color: #333; }

.btn            {
  color: black;
}
.btn:hover, .btn:focus {
  color: black;
  border-color: black;
}
.btn-success {
  background-color: #8feb8f;
}
.btn-success:hover, .btn-success:focus {
  background-color: #5cb85c;
}
.btn-danger {
  background-color: #ff8682;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #d9534f;
}

/* Make disabled buttons more obvious */
.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus {
  opacity: 1.0;
  color: #666;
  background-color: #eee;
  border-color: black;
}

form.actions {
  display: inline-block;
}

.osd-container {
  border: 1px solid black;
  padding: 8px;
}

.osd-toolbar {
  width: 400px;
  height: 35px;
}

.dl-horizontal dt {
  width: 200px;
}

.dl-horizontal dd {
  margin-left: 220px;
}
