{{block "content" .}}

{{BreadCrumbs .Project .Folder}}

<h2>Search</h2>
{{template "searchForm" .}}

<h2>Results</h2>

<p>
  {{if .SearchTerm}}
  Files matching "{{.SearchTerm}}"
  {{else}}
  Folders matching "{{.FolderSearchTerm}}"
  {{end}}
  {{if .Project}}
    under {{.Project.Name}}{{if .Folder}}/{{.Folder.Path}}{{end}}
  {{end}}
</p>

{{template "foldersAndFiles" .}}

{{if and (not .Files) (not .Folders)}}
<p class="alert alert-warning">
  Your search yielded no results
</p>
{{end}}

{{end}}<!-- block "content" -->

